.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  color: rgb(174, 13, 61);
}
 
.form-label{
  margin-left: 500px;
  margin-bottom:20px;
  width: 30px;
  height: 20px;
   
  color: brown;


}
.form-control{
  margin-left: 500px;
  margin-bottom: 30px;
  width: 400px;
  height: 30px;
  outline: none;
  border-bottom: 2px solid green;
   
}
.btn-btn-primary{
  
      margin-right:100px;
      margin-top:30px;
      background-color: rgb(21, 207, 83);
      padding: 5px;
    
}